.main-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  margin-top: 5em;
  width: 100%;
}

.container-left {
  border: 1px solid black;
  flex-basis: 45%;
  flex-wrap: wrap;
  margin-right: 10px;
  background: linear-gradient(10deg, #b3b3b3, #f2f2f2 55%);
}

.container-right {
  display: flex;
  flex-direction: row;
  flex-basis: 55%;
  height: auto;
  flex-wrap: wrap;
  background-color: pink;
}

.item {
  flex-basis: calc(50% - 15px);
  text-align: center;
  background-color: black;
  color: white;
}

.item-1 {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.item-2 {
  margin-bottom: 10px;
  margin-left: 10px;
}

.item-3 {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.item-4 {
  margin-top: 10px;
  margin-left: 10px;
}

@media (max-width: 815px) {
  .main-container {
    height: 70vh;
  }
}

@media (max-width: 570px) {
  .item {
    flex-basis: calc(50% - 20px);
  }

  .item-1,
  .item-2,
  .item-3,
  .item-4 {
    margin: 10px;
  }

  .main-container {
    height: 200vh;
    flex-direction: column;
  }

  .container-left {
    width: 100%;
    flex-basis: 20%;
    margin-bottom: 10px;
  }
}
