.main-container {
  display: flex;
  flex-direction: row;
  height: 90vh;
  margin: 5em 0;
  width: 100%;
}

.container-left {
  flex-basis: 45%;
  flex-wrap: wrap;
  margin-right: 10px;
  background: linear-gradient(10deg, #ffddcc, white);
}

.container-left:hover {
  box-shadow: 0px 5px 8px 5px lightgrey;
  transition: 0.6s;
}

.container-right {
  display: flex;
  flex-direction: row;
  flex-basis: 55%;
  height: auto;
  flex-wrap: wrap;
}

.item {
  flex-basis: calc(50% - 15px);
  text-align: center;
  background-color: #ffddcc;
}

.item:hover {
  box-shadow: 0px 5px 8px 3px lightgrey;
  transition: 0.6s;
}

.item-1 {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.item-2 {
  margin-bottom: 10px;
  margin-left: 10px;
}
.item-3 {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.item-4 {
  margin-top: 10px;
  margin-left: 10px;
}

/* images */

.img {
  max-width: 35%;
  padding-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-left {
  padding-top: 15%;
  max-width: 50%;
}

.img:hover {
  transform: scale(1.2);
}

/* responsiveness */

@media (max-width: 815px) {
  .main-container {
    height: 70vh;
  }
}
@media (max-width: 570px) {
  .item {
    flex-basis: calc(50% - 20px);
  }
  .item-1,
  .item-2,
  .item-3,
  .item-4 {
    margin: 10px;
  }
  .main-container {
    height: 200vh;
    flex-direction: column;
  }
  .container-left {
    width: 100%;
    flex-basis: 20%;
    margin-bottom: 10px;
  }
}
